{% extends "basedash.html" %}
{% load static %}

{% block content %}
<style>
    .noundline {
        text-decoration: none;
    }

    .not-visible {
        display: none;
    }

    h1 {
        color: white;
    }

</style>

<div class="row">
    {% for classe in classes %}
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">{{ classe.Classe_name }} ( {{ classe.school_year }} )</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Nombre d'elevels: {{ numblistStuds }}</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link"
                    href="{% url 'mcOverseer:o_listStudent' pk=classe.pk klasname=classe.Classe_name skooY=classe.school_year %}">
                    View Details
                </a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script language="JavaScript" type="text/javascript">

</script>
{% endblock %}
