{% extends 'base.html' %}
{% load static %}

{% block headContent %}
<link rel="stylesheet" href="{% static 'asset/css/log_reg.css'%}">
{% endblock headContent %}

{% block content %}
<div class="content-section">
    <div class="mycontainer">
        <div class="container-wrapper">
            <legend class="border-bottom mb-4">Sign Up!</legend>
            <form action="" method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    {% for field in form %}
                    <div class="form__field">
                        {% if field.name == "username" %}
                        <i class="fa fa-user icon"></i>
                        {% elif field.name == "email" %}
                        <i class="fa fa-envelope icon"></i>
                        {% else %}
                        <i class="fa fa-key icon"></i>
                        {% endif %}
                        {{ field }}
                    </div>
                    {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% endfor %}
                </fieldset>
                <div class="form__btn">
                    <button class="w-100 btn btn-outline-secondary sign_btn" type="submit">Login
                        <i class="fa fa-thin fa-user"></i>
                    </button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign in</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock %}
