{% load static %}
<aside id="sidebar" class="sidebar break-point-lg has-bg-image">
    <div class="image-wrapper">
        <img src="{% static 'asset/img/forest.jpg' %}" alt="sidebar background" />
    </div>
    <div class="sidebar-layout">
        <div class="sidebar-header">
            <div class="elmntsquare">
            </div>
            <span class="menu-header" style="
                    text-transform: uppercase;
                    font-size: 15px;
                    letter-spacing: 3px;
                    font-weight: bold;
                  ">My School</span>
        </div>
        <div class="sidebar-content">
            <nav class="menu">
                <ul>
                    <li class="menu-item">
                        <a href="{% url 'mainCore:home' %}">
                            <span class="menu-icon">
                                <i class="fa fa-light fa-school"></i>
                            </span>
                            <span class="menu-title">Home</span></a>
                    </li>
                    {% if user.is_authenticated %}
                    {% if user.is_student %}
                    <li class="menu-item">
                        <a href="#student">
                            <span class="menu-icon">
                                <i class="fa fa-light fa-list"></i>
                            </span>
                            <span class="menu-title">Classes</span>
                        </a>
                    </li>
                    {% elif user.is_teacher %}
                    <li class="menu-item">
                        <a href="#teacher">
                            <span class="menu-icon">
                                <i class="fa fa-light fa-list"></i>
                            </span>
                            <span class="menu-title">Classes</span>
                        </a>
                    </li>
                    {% elif user.is_overseer %}
                    <li class="menu-item">
                        <a href="{% url 'mcOverseer:o_listTeacher' %}">
                            <span class="menu-icon">
                                <i class="fa fa-light fa-list"></i>
                            </span>
                            <span class="menu-title">List Teacher</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'mcOverseer:o_listClasses' %}">
                            <span class="menu-icon">
                                <i class="fa fa-light fa-list"></i>
                            </span>
                            <span class="menu-title">Classes</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="menu-item">
                        <a class="disabled" href="#">
                            <span class="menu-icon">
                                <i class="fa fa-light fa-list"></i>
                            </span>
                            <span class="menu-title">Classes</span>
                        </a>
                    </li>
                    {% endif %}
                    {% endif %}
                    <li class="menu-item">
                        <a href="#">
                            <span class="menu-icon">
                                <i class="fa fa-regular fa-circle-info"></i>
                            </span>
                            <span class="menu-title">About Us</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="sidebar-footer">
            <nav class="nav">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile'%}">User: {{ user.get_username }}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</aside>
