<div class="container">
    <div class="mb-1">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'mainCore:home' %}">S.M.S</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'mainCore:home' %}">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    {% if user.is_authenticated %}
                    {% if user.is_student %}
                    <li class="nav-item">
                        <a class="nav-link" href="#student">Classes</a>
                    </li>
                    {% elif user.is_teacher %}
                    <li class="nav-item">
                        <a class="nav-link" href="#teacher">Classes</a>
                    </li>
                    {% elif user.is_overseer %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mcOverseer:o_listClasses' %}">Classes</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" class="disabled" href="#">Classes</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>
